@model IEnumerable<CarrinhodeCompras.Models.Livro>

@{
    ViewData["Title"] = "Index";
    decimal Subtotal = 0;
}

<div class="container">
    <section id="order">
        <br />
        <br />
        <h2 class="title-doc">Carrinho de compras</h2>

        <div class="alert alert-danger" style="display: none;" role="alert">
        </div>

        <div id="code_cart">
            <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                            <th scope="col">Produtos</th>
                            <th scope="col" width="120">Quantidade</th>
                            <th scope="col" width="120">x</th>
                            <th scope="col" width="200" class="text-right">Ação</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <figure class="media">
                                        <div class="img-wrap">
                                            <img alt="Thumbnail [300x300]" style="width: 40px; height: 40px;" src="@item.imagemLivro">
                                        </div>
                                        <figcaption class="media-body">
                                            <h6 class="title text-truncate">@item.nomeLivro</h6>
                                            <dl class="dlist-inline small">
                                                <dt>Código Livro:</dt>
                                                <dd>@item.codLivro</dd>
                                            </dl>
                                        </figcaption>
                                    </figure>
                                </td>

                                <td class="col-auto">
                                    <div class="input-group mb-3 control-inline">
                                        <input type="hidden" class="inputProdutoId" value="@item.codLivro" />
                                        <input type="hidden" class="inputQuantidadeEstoque" value="@item.quantidade" />
                                        <input type="hidden" class="inputValorUnitario" value="0,00" />

                                        <input type="text" style="width: 60px; text-align: center;" readonly="readonly"
                                               class="form-control inputQuantidadeProdutoCarrinho"
                                               value="@item.quantidade">
                                    </div>
                                </td>

                                <td></td>

                                <td class="text-right">
                                    <a asp-controller="Home"
                                           asp-action="RemoverItem"
                                           asp-route-id="@item.codLivro"
                                           class="btn btn-outline-danger">
                                        Remover
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <br />
        <br />
    </section>

    <div class="container">
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
                Deseja adicionar outro?
                <a asp-controller="Home" asp-action="Index">
                    Clique aqui
                </a> para continuar...
            </div>

            <br />
            <br />

            <div class="offset-md-4 col-md-4">
                <a class="btn btn-outline-primary btn-continuar-comprando" asp-action="SalvarCarrinho" asp-controller="Home">
                    Finalizar o empréstimo
                </a>
            </div>
        </div>
    </div>
</div>
